
body{
  background-color: #202227;
}
nav {
  background-color: #32373c;
  box-shadow: 5px 9px 20px #2b2c2e;
}

.card-Color{
  background-color: #32373c;
  color: white;
}
nav img{
  width: 40px;
}
.card-poket{
  cursor: pointer;
}

.card-poket:hover{
  box-shadow: 5px 7px 1px #5e6065;
}

.fire{
  color: rgb(255, 115, 115);
}
.electric{
  color: rgb(236, 255, 115);
}
.ground{
  color: rgb(152, 101, 53);
}
.normal{
  color: rgb(79, 198, 87);
}
.water{
  color: rgb(10, 235, 255);
}

h2{
  color: #fff;
  text-align: center;
}

p{
  color: aliceblue;
}
.search-poke{
 margin: 0 1.4rem;
}

@media (max-width:991px) {
  .search-poke{
    margin:0;
  }
}